.fa-trash:before {
    content: "\f014";
  }

  .secAddDatesAndTime{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .secAddTimeSlots{
    width: 50%;
  }

  /* MODAL */

  .modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(179, 68, 179);
    background-color: rgba(245, 62, 62, 0.5);
  }

  .modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    /* background-color: gray; */
  }

  .modal-content {
    position: relative; 
    /* background-color: gray; */
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    /* background-color: gray; */
}
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/* CALENDAR */
header{
    text-align: center;
}

header > h1{
    color: blueviolet;
}

.calendar-container{
    width: 100%;
 

}



.month-container{
    width: 100%;
    height: 100%;
}

.day-of-week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    grid-gap: 1em;
}

.day-of-week > span{
    height: 14vh;
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    grid-gap: 1em;
    border: 1px solid black;
}

.date{
  height: 14vh;
  text-align: center;
  border-right: 1px solid black;
}

.hidden{
  display: none;
}

#formEditEvent p, #formEditEvent input, #formEditEvent textarea{
  font-size: 10px;
}

#editEventD{
  display: flex;
  flex-direction: column;
  width: 100%;

}
#editEventD > section{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;

}

#editEventD > section > section {
  width: 50%;
}

textarea{
  width: 100%;
}

.sectionsProfile{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.secProfileTop, .secProfileBottom{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.secProfileTop > section, .secProfileBottom > section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/bg.png');

}

.date:hover {
  background-color: yellow;
}

#tableSlotsForDay > .newRow{
  height: 10px;
  border: 1px solid black;
}








