
.fa-trash:before {
    content: "\f014";
  }



  .secAddDatesAndTime{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-bottom: 1%;
    margin-top: 3%;
  }

  .secAddTimeSlots{
    width: 100%;
    
    
  }

  /* MODAL */

  .modal {
    display: none;
    position: fixed;  
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    
    background-color: rgba(192, 201, 199, 0.5);
  }

  .modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    /* background-color: gray; */
  }

  .modal-content {
    position: relative; 
    /* background-color: gray; */
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    /* background-color: gray; */
}
  .close-btn {
    float: right; 
    color: rgb(1, 0, 0); 
    font-size: 24px;  
    font-weight: bold;
    
  }
  .close-btn:hover {
    color: darkgray;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

/* CALENDAR */
header{
    text-align: center;
}

header > h1{
    color: blueviolet;
}

.calendar-container{
    width: 100%;
 

}



.month-container{
    width: 100%;
    height: 100%;
}

.day-of-week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   
    grid-gap: 1em;
}

.day-of-week > span{
    height: 14vh;
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 1em;
    border: 1px solid black;
    grid-auto-columns: 10px;
}

.date{
  display:flex;
  height: 133px;
  text-align: center;
  border-right: 1px solid black;
}

.hidden{
  display: none;
}
#formEditEvent p{
  font-weight: bold;
  font-size: 16px;
}
#formEditEvent input, #formEditEvent textarea{
  font-size: 14px;
}

#editEventD{
  display: flex;
  flex-direction: column;
  width: 100%;

}
#editEventD > section{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;

}

.secEditEvent > section > section {
  width: 50%;
}

textarea{
  width: 100%;
}

#secEventDescViewEvents{
  width: 100%;
}

.buttonEditedDetails{
  font-size: 12px;
  border-radius: 10%;
}

.sectionsProfile{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to bottom, rgba(240, 193, 228, 0.8) 0%, rgba(237, 241, 238, 0.8) 100%);
  margin-top: 4%;
}

.secProfileTop, .secProfileBottom{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.secProfileTop > section, .secProfileBottom > section {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;

}

.secProfileTop > section:hover, .secProfileBottom > section:hover {
  background-color:rgba(202, 147, 213, 0.2)
}

.date:hover {
  background-color: yellow;
}

#tableSlotsForDay > .newRow{
  height: 10px;
  border: 1px solid black;
}

.buttonProfileSecs{
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
}

.viewCreatedEventsRows, .editRecurSlotsRow, .beige{
  background-color: beige;
}

.viewCreatedEventsRows button{
  border-radius: 10%;
}

.eventNameAndAddSlots{
  background: rgba(237, 237, 210, 0.8);
  padding-top: 4%;
}

.secAddRecurringTimes{
  
  width: 100%;
}


.hideForm, .hideMonth, .hideYear{
  display: none;
}

.buttonAddTimeSlots{
  border-radius: 10%;
  font-size: 14px;
}


.buttonAddTimeSlotToggle:hover{
  background-color: rgba(186, 98, 204, 0.8);
}
.buttonAddRecurringSlotsToggle:hover{
  background-color: rgba(186, 98, 204, 0.8);
}

.buttonAddRecurringSlots{
  border-radius: 10%;
}

.spanTsTrash{
  margin-left: 20%;
}

.buttonPublicSignUpSheet{
  border-radius: 10%;
}

.formEditRecurringSlots p{
  font-size: 14px;
  font-weight: bold;
}

.formEditRecurringSlots input, .formEditRecurringSlots textarea{
  margin-bottom: 4%;
}

.formEditRecurringSlotsDates, .secEditRecurSlotsTimes, .secEditRecurSlotsNames{
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}

.formEditRecurringSlotsDates > section{
  width: 33.3333%;
}

.buttonEditedRecurringDetails{
  border-radius: 10%;
}

.secEditRecurSlotsNames > section {
  width: 50%;
}

.buttonCancelSignUp{
  border-radius: 10%;
}

.calendarTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  width: 100%;
}

.buttonToViewMore{
  font-size: .5rem;
  margin-top:auto;
}



 












